@media only screen and ( max-width : 800px ) {

  .movie-list {
    margin: 0;
  }
}

.movie-list {
  background-color: #2a468e;
  border-radius: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 10px;
  padding: 10px 15px;
}
