.size-rating {
    align-items: center;
    display: flex;
    height: 50px;
    justify-content: center;
    width: 90%;
}

.size-rating img {
    height: 100%;
}

.rating {
    border-radius: 100%;
    color: #2667E7;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 0 4px;
    width: 40px;
}

.bar-rating {
    background: rgb(194, 193, 193);
    border-radius: 15px;
    height: 90%;
    margin: 10px 0;
    width: 100%;
}

.bar-rating-child {
    background: #2667E7;
    border-radius: 15px;
    height: 100%;
}
