.btn {
  border-top: 1px solid #bff797;
  background: #b065d6;
  padding: 13.5px 27px;
  border-radius: 26px;
  box-shadow: black 0 1px 0;
  text-shadow: black 0 1px 0;
  color: white;
  font-size: 19px;
  font-family: Helvetica, Arial, sans-serif;
  text-decoration: none;
  vertical-align: middle;
}

.btn:active {
  border-top-color: #1b435e;
  background: #1b435e;
}

.btn:hover {
  border-top-color: #672878;
  background: #672878;
  color: #ccc;
}

body {
  background-image: url("http://i.stack.imgur.com/vhoa0.jpg");
  box-sizing: border-box;
  font-size: 16px;
  text-align: center;
}

.form-addMovie {
  display: flex;
  max-width: 40%;
  margin: 0 auto;
  padding: 1em;
  flex-wrap: wrap;
}

input {
  margin: 1em;
  border-radius: 2em;
}

.item {
  text-align: center;
  font-size: 1.5em;
  padding: 1em;
  margin: 0 auto;
}

label {
  color: white;
  font-size: large;
}

.movie-card-header {
  align-items: center;
  background-image: url("https://images8.alphacoders.com/940/940630.jpg");
  display: flex;
  height: 100px;
  justify-content: center;
}

.page-title {
  color: #f8f9fa;
  font-size: 28px;
  font-weight: 500;
  text-align: center;
}

.movie-card {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  height: 450px;
  margin: 5px;
  overflow: hidden;
  width: 300px;
}

.movie-card-rating {
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  display: flex;
  justify-content: flex-end;
  padding: 12px 20px;
}

.movie-card-image {
  width: 100%;
}

.movie-card-body {
  flex: 1 1 auto;
  padding: 20px;
}

.movie-card-title {
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 12px;
}

.movie-card-subtitle {
  color: #6c757d;
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 8px;
}

.movie-card-storyline {
  font-size: 14px;
  text-align: justify;
}

.movie-list {
  display: flex;
  flex-flow: row wrap;
  padding: 48px 30px;
}

.rating {
  background-color: #007bff;
  border-radius: 25px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  padding: 3px 9px;
}

.spn {
  margin: 1em;
  border-radius: 2em;
}
